@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-deploy-dark text-gray-200 font-sans;
  }
}

.terminal-text {
  text-shadow: 0 0 5px rgba(0, 255, 157, 0.3);
}